* {
    color: black;
}

/*elements*/
img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

hr  {
    width: 50%;
    border: 5px solid;
    position: center;
    color: #4CA4EB;

}

iframe {
    max-width: 100%;
    height: auto;
}


/*classes*/
.main_container {
    margin: 0 auto;
    display: flex;
    gap: 8rem;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
}

.background {
    background-color: #d9d9d9;
    max-width: 90em;
    height: auto;
    
}

.rectangle {
    background-color: #5D94C0;    
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .anton-blue {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4CA4EB;
    font-size: 3em;
  }


.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#top_banner {
    height: 7.75em;
    width: 100%;
}


#intro_text {
    grid-area: int;
}

#intro_image {
    grid-area: ini;
}

.introduction {
    width: 82%;
    max-width: 76em;
    display: grid;
    column-gap: 1rem;
   
}

#intro_header {
    font-size: 14em;
}

#intro_phrase {
    font-size: 3em;
}

.why_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D94C0;
    width: 100%;
}

#spacer1 {
    height: 4rem;
}

#spacer2 {
    height: 2rem;
}

.why_card_panel {
    width: 82%;
    max-width: 76rem;
    display: grid;
    column-gap: 1em;
    align-items: center;
} 

.why_card {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.why_images {
    width: 100%;
    object-fit:contain;
    background-color: #F5F5F5;
}

.why_phrases_rectangles {
    display: flex;
    border-top: black solid 1px;
    background-color: #F5F5F5;
    height: 100%;
    padding: 1em;
    text-align: center;
}


#why_img_1 {
    grid-area: wh1;
}

#why_img_2 {
    grid-area: wh2;
    
}

#why_img_3 {
    grid-area: wh3;
    
}

#why_ZE {
    grid-area: ze;
}

#why_FB {
    grid-area: fb;
}

#why_SOA {
    grid-area: soa;
}


#what_makes {
    font-size: 4em;
}

.what_makes_phrases {
    font-size: 1.5em;
}

#spacer3 {
    height: 8rem;
}

#spacer6 {
    height: 8rem;
}

#read_more_image {
    grid-area: rmi;
    max-width: 100%;
}

#read_more_text {
    grid-area: rmt;
    text-align: right;
}

#read_more {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
}


#future_plans_image {
    grid-area: fpi;
    max-width: 100%;
}

#future_plans_text {
    grid-area: fpt;
    text-align: left;
}

#future_plans {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
}

#innovators {
    font-size: 3em;
}

#keep_working {
    font-size: 3em;
}


#bottom {
    width: 100%;
}

#bottom_image {
    position: relative;
    width: 100%;
}

#bottom_rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#carbon_link {
    font-size: 3em;
    color: black;

}

#carbon_link:hover {
    color: #4CA4EB;
}

#bottom_rectangle {
    height: auto;
    max-width: 49em;
}



/*grid layout*/
@media(min-width: 76em) {
    .introduction {
        grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
        grid-template-rows: auto; /* Explicitly define that there's only one row */
        grid-template-areas: 
         "int int int int int ini ini ini ini ini ini ini";
    }

    .why_card_panel {
        grid-template:
            "wh1 wh2 wh3" 
            "ze  fb  soa" 
    }

    #read_more {
        grid-template: "rmi rmi rmi rmi rmi rmi rmi rmt rmt rmt rmt rmt" minmax(30rem, auto);
    }

    #future_plans {
        grid-template: "fpt fpt fpt fpt fpt fpi fpi fpi fpi fpi fpi fpi" minmax(30rem, auto);
    }
}
