* {
    color: black;
}

/*elements*/
img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

hr  {
    width: 50%;
    border: 5px solid;
    position: center;
    color: #4CA4EB;

}

/*
iframe {
    max-width: 100%;
    height: auto;
}
*/



/*classes*/
.main_container {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
}

.background {
    background-color: #d9d9d9;
    max-width: 90em;
    height: auto;
    
}

.rectangle {
    background-color: #5D94C0;  
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.anton-blue {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4CA4EB;
    font-size: 1.5em;
  }


.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#top_banner {
    height: 2.5em;
    width: 100%;
    text-align: center;
}


#intro_text {
    grid-area: int;
    display: flex;
    flex-direction: column;
  
}

#intro_image {
    grid-area: ini;
}

.introduction {
    width: 82%;
    max-width: 76em;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
 
}

#intro_header {
    font-size: 8em;
    max-height: 160px;
    
}

#intro_phrase {
    font-size: 1.5em;
    text-align: left;
}

.why_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D94C0;
    width: 100%;
}

#spacer1 {
    height: 4rem;
}

#spacer2 {
    height: 2rem;
}

#spacer3 {
    height: 8rem;
}

.why_card_panel {
    width: 82%;
    max-width: 76rem;
    display: grid;
    column-gap: 1em;
    align-items: center;
} 

.why_card {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.why_images {
    width: 100%;
    object-fit:contain;
    background-color: #F5F5F5;
}

.why_phrases_rectangles {
    display: flex;
    border-top: black solid 1px;
    background-color: #F5F5F5;
    height: 100%;
    padding: 1em;
    text-align: center;
}


#why_img_1 {
    grid-area: wh1;
}

#why_img_2 {
    grid-area: wh2;
    
}

#why_img_3 {
    grid-area: wh3;
    
}

#why_ZE {
    grid-area: ze;
}

#why_FB {
    grid-area: fb;
}

#why_SOA {
    grid-area: soa;
}

#what_makes {
    font-size: 2.5em;
    text-align: center;
}

.what_makes_phrases {
    font-size: 0.75em;
}

#read_more_image {
    grid-area: rmi;
    max-width: 100%;
}

#read_more_text {
    grid-area: rmt;
    text-align: right;
}

#read_more {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
    column-gap: 1em;

}

#future_plans_image {
    grid-area: fpi;
    max-width: 100%;
    text-align: right;
}

#future_plans_text {
    grid-area: fpt;
    text-align: left;
}

#future_plans {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
    column-gap: 1em;
}

#spacer3 {
    height: 8rem;
}

#spacer6 {
    height: 8rem;
}

#read_more_image {
    grid-area: rmi;
    max-width: 100%;
}

#read_more_text {
    grid-area: rmt;
    text-align: right;
}

#read_more {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
}


#future_plans_image {
    grid-area: fpi;
    max-width: 100%;
}

#future_plans_text {
    grid-area: fpt;
    text-align: left;
}

#future_plans {
    width: 82%;
    max-width: 76rem;
    display: grid;
    align-items: center;
}

#innovators {
    font-size: 1.5em;
}

#keep_working {
    font-size: 1.5em;
}


#bottom {
    width: 100%;
}

#bottom_image {
    position: relative;
    width: 100%;
}

#bottom_rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#carbon_link {
    font-size: 1.5em;
    color: black;

}

#carbon_link:hover {
    color: #4CA4EB;
}


#bottom {
    width: 100%;
}

#bottom_image {
    position: relative;
    width: 100%;
}

#bottom_rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 49em;
    padding: 0.2em;
}

#image-credits-header {
    font-size: 1.5em;
}

#image-credits {
    font-size: 0.75em;
}







/*grid layout*/
/*phone*/
    .introduction {
        grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
        grid-template-rows: auto; /* Explicitly define that there's only one row */
        row-gap: 2em;
        grid-template-areas: 
         "int int int int" 
         "ini ini ini ini";
    }


    .why_card_panel {
        row-gap: 1em;
        grid-template:
            "wh1"
            "ze"
            "wh2"
            "fb"
            "wh3"
            "soa" 
            
    }


    #read_more {
        grid-template: 
            "rmi rmi rmi rmi rmi rmi rmi rmi rmi" minmax(5rem, auto)
            "rmt rmt rmt rmt rmt rmt rmt rmt rmt" minmax(5rem, auto)
    }

    #future_plans {
        grid-template: 
            "fpt fpt fpt fpt fpt fpt fpt fpt fpt" minmax(5rem, auto)
            "fpi fpi fpi fpi fpi fpi fpi fpi fpi" minmax(5rem, auto)
    }


  

    
/*tablet*/
@media(min-width: 40em) {

    .main_container {
        gap: 4rem;
    }
    
    #intro_text {
        grid-area: int;
        display: flex;
        flex-direction: row;
    
    }

    .introduction {
        width: 82%;
        max-width: 76em;
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        grid-template-columns: repeat(9, 1fr); /* 9 equal columns */
        grid-template-rows: auto; /* Explicitly define that there's only one row */
        grid-template-areas: 
         "int int int int int int int int int" 
         "ini ini ini ini ini ini ini ini ini";
    }

    .why_card_panel {
        grid-template:
            "wh1 wh2 wh3" 
            "ze  fb  soa" 
    }

    #read_more {
        grid-template: 
            "rmi rmi rmi rmi rmi rmi rmi rmi rmi" minmax(10rem, auto)
            "rmt rmt rmt rmt rmt rmt rmt rmt rmt" minmax(10rem, auto)
    }

    #future_plans {
        grid-template: 
            "fpt fpt fpt fpt fpt fpt fpt fpt fpt" minmax(10rem, auto)
            "fpi fpi fpi fpi fpi fpi fpi fpi fpi" minmax(10rem, auto)
    }

    /*special font sizes for different hardware sizes*/
    #intro_header {
        font-size: 10em;
    }

    #intro_phrase {
        font-size: 2em;
        padding: 10%;
    }

    .anton-blue {
        font-size: 2em;
    }

    #what_makes {
        font-size: 3em;
    }
    
    .what_makes_phrases {
        font-size: 1em;
    }

    #innovators {
        font-size: 2em;
    }
    
    #keep_working {
        font-size: 2em;
    }

    #carbon_link {
        font-size: 2em;
    }

    #image-credits-header {
        font-size: 2em;
    }
    
    #image-credits {
        font-size: 1em;
    }

     /*top banner sizes*/
     #top_banner {
        height: 4em;
    }

    #bottom_rectangle {
        padding: 1em;
    }

    
  

}

/*small desktop*/
@media(min-width: 60em) {
    .main_container {
        gap: 6rem;
    }

    #intro_text {
        display: flex;
        flex-direction: column;
    }

    .introduction {
        width: 82%;
        max-width: 76em;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;

    }
    .why_card_panel {
        grid-template:
            "wh1 wh2 wh3" 
            "ze  fb  soa" 
    }

    #read_more {
        grid-template: "rmi rmi rmi rmi rmi rmi rmi rmt rmt rmt rmt rmt" minmax(30rem, auto);
    }

    #future_plans {
        grid-template: "fpt fpt fpt fpt fpt fpi fpi fpi fpi fpi fpi fpi" minmax(30rem, auto);
    }

    /*special font sizes for different hardware sizes*/
    #intro_header {
        font-size: 12em;
        max-height: 208px;
    }

    #intro_phrase {
        font-size: 2.5em;
    }

    .anton-blue {
        font-size: 2.5em;
    }

    #what_makes {
        font-size: 3.5em;
    }
    
    .what_makes_phrases {
        font-size: 1em;
    }

    #innovators {
        font-size: 2.5em;
    }
    
    #keep_working {
        font-size: 2.5em;
    }

    #carbon_link {
        font-size: 2.5em;
    }

    #image-credits-header {
        font-size: 2.5em;
    }
    
    #image-credits {
        font-size: 1.5em;
    }

     /*top banner sizes*/
    #top_banner {
        height: 5.5em;
    }

    #bottom_rectangle {
        padding: 1em;
    }

    /*padding for images on desktops*/
    #intro_image {
        padding-left: 3em;
    }

    #read_more_image {
        padding-right: 2em;
    }

    #future_plans_image {
        padding-left: 2em;
    }


    .why_card_panel {
        grid-template:
            "wh1 wh2 wh3" 
            "ze  fb  soa" 
    }

    #read_more {
        grid-template: "rmi rmi rmi rmi rmi rmi rmi rmt rmt rmt rmt rmt" minmax(30rem, auto);
    }


}



/*desktop*/
@media(min-width: 84em) {
    .main_container {
        gap: 8rem;
    }

    #intro_text {
        display: flex;
        flex-direction: column;
    }

    .introduction {
        width: 82%;
        max-width: 76em;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
        grid-template-rows: auto; /* Explicitly define that there's only one row */
        grid-template-areas: 
         "int int int int int ini ini ini ini ini ini ini";
    }

    .why_card_panel {
        grid-template:
            "wh1 wh2 wh3" 
            "ze  fb  soa" 
    }

    #read_more {
        grid-template: "rmi rmi rmi rmi rmi rmi rmi rmt rmt rmt rmt rmt" minmax(30rem, auto);
    }

    #future_plans {
        grid-template: "fpt fpt fpt fpt fpt fpi fpi fpi fpi fpi fpi fpi" minmax(30rem, auto);
    }

    /*special font sizes for different hardware sizes*/
    #intro_header {
        font-size: 14em;
        max-height: 240px;
        
    }

    #intro_phrase {
        font-size: 3em;
    }

    .anton-blue {
        font-size: 3em;
    }

    #what_makes {
        font-size: 4em;
    }
    
    .what_makes_phrases {
        font-size: 1.5em;
    }

    #innovators {
        font-size: 3em;
    }
    
    #keep_working {
        font-size: 3em;
    }

    #carbon_link {
        font-size: 3em;
    }

    #image-credits-header {
        font-size: 3em;
    }
    
    #image-credits {
        font-size: 1.5em;
    }

    /*top banner sizes*/
    #top_banner {
        height: 6em;
    }

    #bottom_rectangle {
        padding: 1em;
    }



    /*padding for images on desktops*/
    #intro_image {
        padding-left: 3em;
    }

    #read_more_image {
        padding-right: 3em;
    }

    #future_plans_image {
        padding-left: 3em;
    }

}
